//color
$white: white;
$black: black;
$nav-bg: #f6f5ef;
$hamburger-icon: #55443a;
$main-banner-btn: #d73a7a;
$reward-bg: #1e3932;
$reward-btn: #00704a;
$reward-hr: #4b615b;
$bean-btn: #1e245c;
$indonesia-btn: #b9813e;
$pick-bg: #4b4851;
$store-bg: #ededed;
$store-font: #464646;
$footer-mobilemenu: #554c46;
$footer-mobilemenu-border: #403a36;
$footer-bg-light: #2c2a29;
$footer-bg-dark: #282828;
$footer-mobile-playbutton: #949494;
$footer-font: #cccccc;
$footer-font2: #10a34b;

//font family
$font: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;

//반응형 크기
$mobile: 320px;
$tablet: 768px;
$pc: 1024px;