//color
$white: white;
$black: black;
$nav-bg: #f6f5ef;
$icon: #55443a;
$main-btn: #1c3831;
$promotion-bg: #f6f5ef;
$rewards-bg: #1e3932;
$rewards-btn: #00704a;
$rewards-line: #4b615b;
$peru-btn: #00704a;
$store-bg: #e7e7e7;
//font family

//반응형 크기
$mobile: 320px;
$tablet: 768px;
$pc: 1024px;